.row {
  max-width: 170rem;
  margin: 0 auto;
  @include clearf;
  &:not(:last-child) {
    margin-bottom: $gutter-vertical-small;
  }

  [class^="col-"] {
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-vertical-small;
    }
  }
  .col-1-of-2 {
    width: calc((100% - #{$gutter-vertical-small}) / 2);
  }
}
