.u-margin-btm-med {
  margin-bottom: 3rem !important; }

.u-margin-top-small {
  margin-top: 3rem !important; }

.section-header {
  position: relative;
  height: 80vh; }

.header-left-box {
  margin-top: 4rem; }
  .header-left-box_img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }

.heading-image {
  height: 75rem;
  display: block;
  margin: 0 auto; }

.heading-primary {
  font-size: 5rem;
  text-transform: capitalize;
  font-weight: 600; }
  .heading-primary_main {
    width: 70%;
    line-height: 10rem;
    margin-bottom: 5rem; }
  .heading-primary_span {
    color: orange; }

.heading-secondary {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 2rem; }
  .heading-secondary_last {
    color: orange; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  color: #666;
  line-height: 2.5rem; }

.row {
  max-width: 170rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }

.last-sec {
  position: relative;
  margin-top: 20rem; }

.card {
  width: 70rem;
  margin: 30rem auto;
  padding: 6rem 3.5rem 15rem;
  box-shadow: 5px 7px 40px grey;
  border-left: 6px solid blue; }

.last-right-box {
  margin-top: -20rem; }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  background: linear-gradient(50deg, lightsalmon 0%, tomato 70%);
  font-weight: 600;
  background-color: orange;
  display: inline-block;
  padding: 1rem 2rem;
  color: white;
  border-radius: 7px; }

.btn-heading {
  margin-top: 1.5rem; }
